doctype html
head
    title проект на flexblock
    meta(charset="utf8")
    block styles
        link(rel="stylesheet" type="text/css" href="styles/style_1.css")
body
    //Шапка - 1
    div
        div ООО "Рога и Копыта"
    //меню по ширине
    nav
        span 1
        span 2
        span 3
        span 4
    //меню в 2 ряда - 2
    div
        span A
        span B
        span C
        span D
        span E
        span F
    //текст в 2 колонки - 3
    div(data-type="content").
        Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
    //человечек
    //голова - 4
    div
        span <br>@&nbsp;&nbsp;&nbsp;@
    //тело и руки - 5
    div
        span - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
        span | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | |
        span - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    //ноги - 6
    div
        span | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | |
        span | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | |

    //башмаки - 7
    div
        span - - - - - - - - - - - -
        span - - - - - - - - - - - -
    //Подвал
    footer
        span Рога и копыта &copy; 2015
        span VISA/Mastercard
        span тел. +7 (343) 262 89 58