//общеупотребеительные Примеси
.flex-direction(@dir){
  flex-direction: @dir;
  -webkit-flex-direction: @dir;
  -moz-flex-direction: @dir;
}
.column-width(@cwi){
  column-width: @cwi;
  -webkit-column-width: @cwi;
  -moz-column-width: @cwi;
}
.column-count(@ccn){
  column-count: @ccn;
  -webkit-column-count: @ccn;
  -moz-column-count: @ccn;
}
.flex-wrap(@wrp){
  flex-wrap: @wrp;
  -moz-flex-wrap: @wrp;
  -webkit-flex-wrap: @wrp;
  -ms-flex-wrap: @wrp;
}

//глобальные правила
body{
  display:flex;
  .flex-direction(column);
  justify-content: space-between;
  align-items:center;
  min-height:100vh;
  background-color: hsl(40,10%,95%);
}
body>*{
  width: 960px;
}
span{
  display:block;
}
//верхняя Шапка
div:first-child{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100px;
  background-color: #CFCF36;
  margin-bottom: 15px;
}
div:first-child div{
  @title_h:50px;
  height:@title_h; line-height: @title_h;
  margin-bottom: 0px;
}
//меню по ширине
nav{
  display:flex;
  justify-content: space-between;
  align-items:center;
  min-height: 70px;
  background-color: #B0B09E;
  margin-bottom:15px;
}
nav span{
  @nav_h:50px;
  background-color: hsl(20,60%,90%);
  min-width: 106px;
  min-height: @nav_h;
  text-align: center;
  line-height: @nav_h;
}
//меню в 2 ряда
nav+div{
  display:flex;
  justify-content: space-around;
  align-items: center;
  .flex-wrap(wrap);
  align-content: space-around;
  min-height:500px;
}
nav+div span{
  background-color: hsla(40,90%,30%,0.7);
  width:30%;
  height:200px;
}
//текст в 2 колонки
div[data-type="content"]
{
  flex-grow: 10;
  color:green;
  .column-count(2);
  .column-width(40%);
}
//человечек
//голова
@head_h:70px;

div:nth-of-type(4){
  display:flex;
  .flex-direction(column);
  justify-content: flex-end;
  align-items:center;
  height: 100px;
  margin-bottom: 10px;
}
div:nth-of-type(4) span{
  border-radius:@head_h;
  height: @head_h; width: @head_h;
  border:1px solid black;
  text-align:center;
}
//тело и руки
div:nth-of-type(5){
  display:flex;
  .flex-direction(row);
  justify-content: center;
  align-items: flex-start;
}
div:nth-of-type(5) span:first-child, div:nth-of-type(5) span:last-child{
  width:40%;
}
div:nth-of-type(5) span:first-child{
  text-align:right;
}
div:nth-of-type(5) span:last-child{
  text-align:left;
}
div:nth-of-type(5) span:nth-of-type(2){
  width:10%;
  text-align:center;
}
//ноги
div:nth-of-type(6){
  display:flex;
  .flex-direction(row);
  justify-content: center;
  align-items: flex-start;
}
div:nth-of-type(6) span {
  text-align:justify;
  width:3%;
  margin:0 1% 0 1%;
}
//башмаки
div:nth-of-type(7){
  display:flex;
  .flex-direction(row);
  justify-content: center;
  align-items: flex-start;
}
div:nth-of-type(7) span {
  width:6%;
  margin:0 1% 0 1%;
}
div:nth-of-type(7) span:first-child{
  text-align:right
}
div:nth-of-type(7) span:last-child{
  text-align:left;
}
//Подвал
footer{
  display:flex;
  .flex-direction(row);
  justify-content: space-around;
  align-items: flex-start;
  min-height: 50px;
  background-color: hsl(90,50%,80%);
}
footer span{
  margin-top:10px;
}

//-------------------------------------------

@media screen and (max-width:960px){
  body>*{
    width: 100%;
  }
  //меню в 2 ряда -> 3 ряда
  nav+div span{
    width:45%;
    margin:20px 0 20px 0;
  }
  //тело и руки
  div:nth-of-type(5) span:first-child, div:nth-of-type(5) span:last-child{
    height: 50px; overflow: hidden;
  }
  div:nth-of-type(5) span:nth-of-type(2){
    height: 200px; overflow: hidden;
  }
  //ноги
  div:nth-of-type(6) span {
    height: 200px; overflow: hidden;
  }
  //башмаки
  div:nth-of-type(7) span {
    height: 40px; overflow: hidden;
  }
}

//-------------------------------------------

@media screen and (max-width:500px){
  //меню по ширине -> в 1 колонку
  nav{
    .flex-direction(column);
    justify-content:center;
    align-items:center;
  }
  nav span{
    @nav_h:50px;
    background-color: hsl(20,60%,90%);
    width: 100%;
    min-height: @nav_h;
    text-align: center;
    line-height: @nav_h;
  }
  //меню в 2 ряда -> 6 рядов
  nav+div span{
    width:100%;
  }
  //текст в 2 колонки -> в 1 колонку
  div[data-type="content"]
  {
    .column-count(1);
    .column-width(100%);
    font-size:20px;
  }
  //тело и руки
  div:nth-of-type(5) span:first-child, div:nth-of-type(5) span:last-child{
    height: 30px; overflow: hidden;
  }
  div:nth-of-type(5) span:nth-of-type(2){
    height: 120px; overflow: hidden;
  }
  //ноги
  div:nth-of-type(6) span {
    height: 140px; overflow: hidden;
  }
  //башмаки
  div:nth-of-type(7) span {
    width:8%;
    height: 15px;
  }
  //подвал
  footer{
    .flex-direction(column);
    align-items: center;
  }
  footer span:last-child{
    font-size:20px;
  }
}