body {
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f3f1;
}
body > * {
  width: 960px;
}
span {
  display: block;
}
div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #CFCF36;
  margin-bottom: 15px;
}
div:first-child div {
  height: 50px;
  line-height: 50px;
  margin-bottom: 0px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  background-color: #B0B09E;
  margin-bottom: 15px;
}
nav span {
  background-color: #f5e0d6;
  min-width: 106px;
  min-height: 50px;
  text-align: center;
  line-height: 50px;
}
nav + div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  align-content: space-around;
  min-height: 500px;
}
nav + div span {
  background-color: rgba(145, 99, 8, 0.7);
  width: 30%;
  height: 200px;
}
div[data-type="content"] {
  flex-grow: 10;
  color: green;
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-width: 40%;
  -webkit-column-width: 40%;
  -moz-column-width: 40%;
}
div:nth-of-type(4) {
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  margin-bottom: 10px;
}
div:nth-of-type(4) span {
  border-radius: 70px;
  height: 70px;
  width: 70px;
  border: 1px solid black;
  text-align: center;
}
div:nth-of-type(5) {
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
div:nth-of-type(5) span:first-child,
div:nth-of-type(5) span:last-child {
  width: 40%;
}
div:nth-of-type(5) span:first-child {
  text-align: right;
}
div:nth-of-type(5) span:last-child {
  text-align: left;
}
div:nth-of-type(5) span:nth-of-type(2) {
  width: 10%;
  text-align: center;
}
div:nth-of-type(6) {
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
div:nth-of-type(6) span {
  text-align: justify;
  width: 3%;
  margin: 0 1% 0 1%;
}
div:nth-of-type(7) {
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
div:nth-of-type(7) span {
  width: 6%;
  margin: 0 1% 0 1%;
}
div:nth-of-type(7) span:first-child {
  text-align: right;
}
div:nth-of-type(7) span:last-child {
  text-align: left;
}
footer {
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 50px;
  background-color: #cce6b3;
}
footer span {
  margin-top: 10px;
}
@media screen and (max-width: 960px) {
  body > * {
    width: 100%;
  }
  nav + div span {
    width: 45%;
    margin: 20px 0 20px 0;
  }
  div:nth-of-type(5) span:first-child,
  div:nth-of-type(5) span:last-child {
    height: 50px;
    overflow: hidden;
  }
  div:nth-of-type(5) span:nth-of-type(2) {
    height: 200px;
    overflow: hidden;
  }
  div:nth-of-type(6) span {
    height: 200px;
    overflow: hidden;
  }
  div:nth-of-type(7) span {
    height: 40px;
    overflow: hidden;
  }
}
@media screen and (max-width: 500px) {
  nav {
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav span {
    background-color: #f5e0d6;
    width: 100%;
    min-height: 50px;
    text-align: center;
    line-height: 50px;
  }
  nav + div span {
    width: 100%;
  }
  div[data-type="content"] {
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-width: 100%;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    font-size: 20px;
  }
  div:nth-of-type(5) span:first-child,
  div:nth-of-type(5) span:last-child {
    height: 30px;
    overflow: hidden;
  }
  div:nth-of-type(5) span:nth-of-type(2) {
    height: 120px;
    overflow: hidden;
  }
  div:nth-of-type(6) span {
    height: 140px;
    overflow: hidden;
  }
  div:nth-of-type(7) span {
    width: 8%;
    height: 15px;
  }
  footer {
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    align-items: center;
  }
  footer span:last-child {
    font-size: 20px;
  }
}
